/* General Styles */
/*----------------*/

a {
    color : #3333CC;
    background : #FFFFFF;
    text-decoration : none;
}

a:hover {
    text-decoration: underline;
}

body, td {
    vertical-align : top;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
    padding : 0px;
    margin : 0px;
    color : #000000;
    background : #FFFFFF;
}

/* Container Styles */
/*------------------*/

table#container { 
    width : 100%;
    height : 100%;
}

tr#topspacera { 
    height: 0px;
    font-size: 0px;
}

td#topspacerb { 
    font-size : 0px;
    background : #0000FF;
}

/* Header Styles */
/*---------------*/

td#header { 
    height : 0px;
    text-align : center;
    vertical-align : middle;
}

div#hiddenlink { 
    display: none;
}

table#header {
    padding: 10px 20px 5px 20px;
    font-size: 28px;
    width : 100%;
    color : #FFFFFF;
    background : #000000;
    margin : 0px 0px 0px 0px;
}

div#maintitle {
    font-size : 40px;
    text-align : center;
    color : #FFFFFF;
    background : #000000;
    vertical-align : middle;
}

/* Links Styles */  
/*--------------*/

table.links {
  
    text-align : center;
    padding : 10px 20px 15px 20px;
    font-size : 14px;
    color : #FFFFFF;
    background : #000000;
}

td.link { 
    color : #000000;
    background : #000000;
}

a.buttonref {
    color : #CCCCCC;
    background : #000000;
    text-decoration : none;
}

/* Dir Links Styles */
/*--------------*/

td.dirlinks {
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    background : #66CCFF;
    font-size : 13px;
}

a.dirlink {
    color : #FFFFFF;
    background : #66CCFF;
    text-decoration : none;
}

/* Content Styles */
/*----------------*/

td#bodycontent { 
    padding : 10px 15px 10px 15px;
    width : 100%;
    text-align : left;
    vertical-align : top;
}

/* Footer Styles */
/*---------------*/

td#footer {
    border-top : 1px solid #00CC00;
    border-bottom : 1px solid #00CC00;
    background : #CCFFCC;
    color : #000000;
    font-size : 10px;
    text-align : center;
    padding : 10px 0px 10px 0px;
}

