/* General Styles */
/*----------------*/

a {
  color : #3333CC;
  background : #FFFFFF;
  text-decoration : none;
}

a:hover {
  text-decoration: underline;
}

a.small {
  font-size : 10px;
}

body, td {
  vertical-align : top;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td { 
  padding : 2px 5px 2px 5px;
  margin : 0px 0px 0px 0px;
}

body {
  padding : 0px 0px 0px 0px;
  margin : 0px 0px 0px 0px;
  color : #000000;
  background : #FFFFFF;
}

table.spacer { 
  background : #C0C0C0;
  width : 100%;
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
  font-size : 1px;
}

td.spacer { 
  background : #C0C0C0;
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
  font-size : 3px;
}

div#hiddenlink { 
  display: none;
}

/* Container Styles */
/*------------------*/

table#container {
  width : 100%;
}

tr#topspacera { 
  background : #000000;
  padding : 0px 0px 0px 0px;
}

td#topspacerb { 
  font-size : 6px;
  background : #000000;
  padding : 0px 0px 0px 0px;
}

/* Header Styles */
/*---------------*/

td#header { 
  height : 0px;
  padding : 0px 0px 0px 0px;
  text-align : center;
  vertical-align : middle;
  color : #FFFFFF;
  background : #045B01;
}

div#maintitle {
  padding : 20px 0px 0px 0px;
  font-size : 40px;
  text-align : center;
  vertical-align : middle;
  color : #FFFFFF;
  background : #045B01;
  background-image : url(binary.png);
}

/* Links Styles */  
/*--------------*/

td.linkholder {
  padding : 10px 0px 10px 0px;
  color : #000033;
  background : #6699FF;
}

table.links {
  font-size : 14px;
  color : #000033;
  background : #6699FF;
}

td.link {
  padding : 0px 20px 0px 20px;
  color : #000033;
  background : #6699FF;
}

td.username { 
  padding : 0px 20px 10px 20px;
  color : #000033;
  background : #6699FF;
}

a.buttonref {
  color : #000033;
  background : #6699FF;
  text-decoration : none;
}

a.buttonref:hover {
  color : #003333;
  background : #6699FF;
  text-decoration : underline;
}

/* Dir Links Styles */
/*--------------*/

td.dirlinks {
  padding: 10px 0px 10px 0px;
  color: #FFFFFF;
  background : #66CCFF;
  font-size : 13px;
}

a.dirlink {
  color : #FFFFFF;
  background : #66CCFF;
  text-decoration : none;
}

/* Content Styles */
/*----------------*/

td.errormsg { 
  padding : 20px 0px 0px 0px;
  text-align : center;
  font-size : 18px;
  font-weight : bolder;
  color : #3333FF;
}

td#bodycontent { 
  padding : 10px 15px 10px 15px;
  width : 100%;
  text-align : left;
  vertical-align : top;
}

td.describe { 
  font-weight : bold;
}

td.describe2 { 
  font-weight : bold;
  color : #FF0000;
}

td.field {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td.topper { 
  color : #000000;
  background : #C0C0C0;
}

a.topper { 
  color : #3333CC;
  background : #C0C0C0;
}

table.tcomment { 
  width : 50%;
}

div.head1 {
  font-size : 20px;
  font-weight : bold;
  padding-bottom : 10px;
}

td.thead {
  background : #C0C0C0;
  text-align : center;
  font-weight : bold;
}

td.tfoot {
  background : #C0C0C0;
  font-size : 2px;
}

/* Footer Styles */
/*---------------*/

td#footer {
  border-top : 1px solid #00CC00;
  border-bottom : 1px solid #00CC00;
  background : #CCFFCC;
  color : #000000;
  font-size : 10px;
  text-align : center;
  padding : 10px 0px 10px 0px;
}

