ErrorDocument 403 /~tsm20/team44/
ErrorDocument 404 /~tsm20/team44/

AuthType Basic
AuthName "Team 44"
AuthUserFile .htpasswd
Require valid-user

# Needs to be changed so if some random person checks it out it is relative
